/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4285f4;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  line-height: 60px;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  width: 60px;
  height: 60px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

button.menu img {
  height:24px;
  width: 24px;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base, p, ul, ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #3367D6;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: auto;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  nav {
    display: block;
    margin-top: 130px;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 130px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }

  .navdrawer-container {
    position: relative;
    margin-top: 0;
  }
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}

/* General Demo Style */
body{
    background: #f7f7f7 url(../images/old_wall.png) repeat top left;
    color: rgba(0,0,0,0.8);
    font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
}
a{
    color: #fff;
    text-decoration: none;
}

.container{
    width: 100%;
    position: relative;
}
.clr{
    clear: both;
}
h1{
    font-size: 24px;
    position:relative;
    font-weight: 400;
    padding: 30px 5px 10px 5px;
  margin: 0px 15px;
  color: rgba(153,157,181,0.6);
  text-shadow: 0px 1px 1px #fff;
  border-bottom: 1px solid rgba(17,17,22,0.1);
}
/* Header Style */
.header{
    font-family:'Arial Narrow', Arial, sans-serif;
    line-height: 24px;
    font-size: 11px;
    background: #000;
    opacity: 0.9;
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}
.header a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #ddd;
    display: block;
    float: left;
}
.header a:hover{
    color: #fff;
}
.header span.right{
    float: right;
}
.header span.right a{
    float: none;
    display: inline;
}
.demos{
    position:relative;
    z-index: 1000;
    text-align:center;
  float: right;
  padding: 10px;
}
.demos a{
    display: inline-block;
    padding: 4px 6px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
  font-family: Arial;
    font-size: 11px;
  -webkit-font-smoothing:antialiased;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.demos a:hover{
    color: #fff;
    background: #c90047;
}
.demos a.current-demo,
.demos a.current-demo:hover{
    font-weight: bold;
    background: #c90047;
    color: #fff;
  cursor: default;
}


h2.ss-subtitle{
    padding: 10px 10px 40px;
    font-size: 52px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
    position: relative;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
h2.ss-subtitle:before{
    width: 4px;
    height: 40px;
    background: rgba(17,17,22,0.8);
    content: '';
    position: absolute;
    right: 75%;
    margin-right: -4px;
    bottom: -4px;
    -moz-border-radius: 2px 2px 0px 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
}
h2.ss-subtitle:after{
    width: 25%;
    height: 0px;
    border-bottom: 4px dotted rgba(17,17,22,0.8);
    content: '';
    position: absolute;
    right: 50%;
    margin-right: -1px;
    bottom: -4px;
}
.ss-links{
    position: fixed;
    width: 100%;
    background: #ffffff;
    left: 0px;
    top: 0px;
    z-index: 100;
}
.ss-links div {
  max-width: 960px;
  margin: auto;
}

.ss-links div a.logo {
  float: left;
  display: inline;
  margin-top: -1px;
}
.ss-links a{
  color: #333333;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    line-height: 50px;
    float: right;
    display: block;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.ss-links a:hover{
    background: #e0d4a5;
    opacity: 0.9;
}

.ss-links a.logo:hover {
  background: none;
}
.ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    overflow: hidden;
    padding-bottom: 500px;
}
.ss-container h2{
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8);
    padding: 50px 0px;
}
.ss-container:before{
    position: absolute;
    width: 4px;
    background: rgba(17,17,22,0.8);
    top: 0px;
    left: 50%;
    margin-left: -2px;
    content: '';
    height: 100%;
}
.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 20px 0;
}
.ss-left, .ss-right{
    float: left;
    width: 48%;
    position: relative;
}
.ss-right{
    padding-left: 2%;
}
.ss-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}
.ss-circle{
    border-radius: 50%;
    overflow: hidden;
    display: block;
    text-indent: -9000px;
    text-align: left;
    -webkit-box-shadow: 
        0px 2px 5px rgba(0,0,0,0.7) inset, 
        0px 0px 0px 12px #fff;
    -moz-box-shadow: 
        0px 2px 5px rgba(0,0,0,0.7) inset, 
        0px 0px 0px 12px #fff;
    box-shadow: 
        0px 2px 5px rgba(0,0,0,0.7) inset, 
        0px 0px 0px 12px #fff;
    background-size: cover;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-position: center center;
    position: static;
}
.ss-small .ss-circle{
    width: 100px;
    height: 100px;
}
.ss-medium .ss-circle{
    width: 200px;
    height: 200px;
}
.ss-large .ss-circle{
    width: 300px;
    height: 300px;
}
.ss-circle-deco:before{
    width: 29%;
    height: 0px;
    border-bottom: 5px dotted #ddd;
    border-bottom: 5px dotted rgba(17, 17, 22, 0.3);
    -webkit-box-shadow: 0px 1px 1px #fff;
    -moz-box-shadow: 0px 1px 1px #fff;
    box-shadow: 0px 1px 1px #fff;
    position: absolute;
    top: 50%;
    content: '';
    margin-top: -3px;
}
.ss-circle-deco:after{
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.ss-left .ss-circle-deco:before{
    right: 2%;   
}
.ss-right .ss-circle-deco:before{
    left: 2%;   
}
.ss-left .ss-circle-deco:after{
    right: 0;
    border-right: 10px solid rgba(17,17,22,0.8);
}
.ss-right .ss-circle-deco:after{
    left: 0;
    border-left: 10px solid rgba(17,17,22,0.8);
}
.ss-left .ss-circle{
    float: right;
    margin-right: 30%;
}
.ss-right .ss-circle{
    float: left;
    margin-left: 30%;
}
.ss-container h3{
    margin-top: 34px;
    padding: 10px 15px;
    background: #b19c4d;
    text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8)
}
.ss-container .ss-medium h3{
    margin-top: 82px;
}
.ss-container .ss-large h3{
    margin-top: 133px;
}
.ss-container .ss-left h3{
    border-right: 5px solid #fff;
}
.ss-container .ss-right h3{
    border-left: 5px solid #fff;
}
.ss-container h3 span{
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}
.ss-container h3 a{
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 28px;
    color: rgba(255,255,255,0.9);
    display: block;
}
.ss-container h3 a:hover{
    color: rgba(255,255,255,1);
}
.ss-circle-1{
    background-image:url(../images/aire-1.jpg);
}
.ss-circle-2{
    background-image: url(../images/aire-2.jpg);
}
.ss-circle-3{
    background-image: url(../images/aire-3.jpg);
}
.ss-circle-4{
    background-image: url(../images/aire-4.jpg);
}
.ss-circle-5{
    background-image: url(../images/aire-5.jpg);
}
.ss-circle-6{
    background-image: url(../images/aire-6.jpg);
}
.ss-circle-7{
    background-image: url(../images/aire-7.jpg);
}
.ss-circle-8{
    background-image: url(../images/aire-8.jpg);
}
.ss-circle-9{
    background-image: url(../images/aire-9.jpg);
}
.ss-circle-10{
    background-image: url(../images/aire-10.jpg);
}
.ss-circle-11{
    background-image: url(../images/aire-11.jpg);
}
.ss-circle-12{
    background-image: url(../images/aire-12.jpg);
}
.ss-circle-13{
    background-image: url(../images/aire-13.jpg);
}
.ss-circle-14{
    background-image: url(../images/aire-14.jpg);
}
.ss-circle-15{
    background-image: url(../images/aire-15.jpg);
}
.ss-circle-16{
    background-image: url(../images/aire-16.jpg);
}
.ss-circle-17{
    background-image: url(../images/aire-17.jpg);
}
.ss-circle-18{
    background-image: url(../images/aire-18.jpg);
}
.ss-circle-19{
    background-image: url(../images/aire-19.jpg);
}
.ss-circle-20{
    background-image: url(../images/aire-20.jpg);
}
.ss-circle-21{
    background-image: url(../images/aire-21.jpg);
}
.ss-circle-22{
    background-image: url(../images/aire-22.jpg);
}
.ss-circle-23{
    background-image: url(../images/aire-23.jpg);
}
.ss-circle-24{
    background-image: url(../images/aire-26.jpg);
}
.ss-circle-25{
    background-image: url(../images/aire-27.jpg);
}
.ss-circle-26{
    background-image: url(../images/aire-29.jpg);
}
.ss-circle-27{
    background-image: url(../images/aire-30.jpg);
}
.ss-circle-28{
    background-image: url(../images/aire-31.jpg);
}
.ss-circle-29{
    background-image: url(../images/aire-32.jpg);
}
.ss-circle-30{
    background-image: url(../images/aire-33.jpg);
}


/* lote 2 */ 

.ss-circle-lote2-10{
    background-image: url(../images/lote2/aire-10.jpg);
}

.ss-circle-lote2-9{
    background-image: url(../images/lote2/aire-9.jpg);
}

.ss-circle-lote2-11{
    background-image: url(../images/lote2/aire-11.jpg);
}

.ss-circle-lote2-12{
    background-image: url(../images/lote2/aire-12.jpg);
}

.ss-circle-lote2-14{
    background-image: url(../images/lote2/aire-14.jpg);
}

.ss-circle-lote2-2{
    background-image: url(../images/lote2/aire-2.jpg);
}

.ss-circle-lote2-13{
    background-image: url(../images/lote2/aire-13.jpg);
}

.ss-circle-lote2-3{
    background-image: url(../images/lote2/aire-3.jpg);
}

.ss-circle-lote2-6{
    background-image: url(../images/lote2/aire-3.jpg);
}

.ss-circle-lote2-7{
    background-image: url(../images/lote2/aire-7.jpg);
}

.ss-circle-lote2-17{
    background-image: url(../images/lote2/aire-17.jpg);
}

.ss-circle-lote4-9{
    background-image: url(../images/lote4/aire-9.jpg);
}


/* lote 3 */ 

.ss-circle-lote3-8{
    background-image: url(../images/lote3/aire-8.jpg);
}

.ss-circle-lote3-19{
    background-image: url(../images/lote3/aire-19.jpg);
}

.ss-circle-lote3-12{
    background-image: url(../images/lote3/aire-12.jpg);
}

/* lote 4 */ 

.ss-circle-lote4-1{
    background-image: url(../images/lote4/aire-1.jpg);
}

.ss-circle-lote4-5{
    background-image: url(../images/lote4/aire-5.jpg);
}

.ss-circle-lote4-14{
    background-image: url(../images/lote4/aire-14.jpg);
}





/* lote 5 */ 

.ss-circle-lote5-19{
    background-image: url(../images/lote5/aire-19.jpg);
}

.ss-circle-lote5-8{
    background-image: url(../images/lote5/aire-8.jpg);
}

.ss-circle-lote5-6{
    background-image: url(../images/lote5/aire-6.jpg);
}

.ss-circle-lote5-13{
    background-image: url(../images/lote5/aire-13.jpg);
}





/* lote 6 */ 

.ss-circle-lote6-12{
    background-image: url(../images/lote6/aire-12.jpg);
}

.ss-circle-lote6-13{
    background-image: url(../images/lote6/aire-13.jpg);
}

.ss-circle-lote6-15{
    background-image: url(../images/lote6/aire-15.jpg);
}

.ss-circle-lote6-19{
    background-image: url(../images/lote6/aire-19.jpg);
}

.ss-circle-lote6-22{
    background-image: url(../images/lote6/aire-22.jpg);
}

.ss-circle-lote6-23{
    background-image: url(../images/lote6/aire-23.jpg);
}

.ss-circle-lote6-1{
    background-image: url(../images/lote6/aire-1.jpg);
}

.ss-circle-lote6-16{
    background-image: url(../images/lote6/aire-16.jpg);
}

.ss-circle-lote6-24{
    background-image: url(../images/lote6/aire-24.jpg);
}

.ss-circle-lote6-4{
    background-image: url(../images/lote6/aire-4.jpg);
}

.ss-circle-lote6-14{
    background-image: url(../images/lote6/aire-14.jpg);
}





